.box{
border:5px solid white;
      width:50%;
      padding-bottom: 100%;
      margin-left: 0%;
      transition: 200ms ease;
      text-align: center;
      }
#a{
  border:5px solid white;
        width:50%;
        padding-bottom: 10%;
        margin-left: 0%;
        text-align: center;
        font-size: 150%;
        font-weight: bold;
}
#b{
  margin-top: -82%;
}
li:hover{
  text-decoration: line-through;
  list-style-type: none;
}
#c{
  margin-top: -6%;
}
ul{
  list-style-type: none;
}
